pywb/collections/*/indexes/*
!pywb/collections/*/indexes/.keep

pywb/collections/*/archive/*
!pywb/collections/*/archive/.keep

pywb/incoming/*a
!pywb/incoming/.keep
!pywb/incoming/*/.keep

*.log

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/.DS_Store

# rspec failure tracking
.rspec_status

Gemfile.lock
