.prev_capture {
  margin: 0 15px 0 15px;
}

.next_capture {
  margin: 0 15px 0 15px;
}

#_wb_frame_top_banner {
  /* !important is required to override a default !important from default_banner.css */
  background-color: #8c1515 !important;
}