#su-content {
  height: 100%;
}

#sul-footer-container {
  background-color: white;
  -webkit-box-shadow: 0 4px 8px -8px rgba(0, 0, 0, .2) inset;
  box-shadow: 0 4px 8px -8px rgba(0, 0, 0, .2) inset;
  clear: both;
  min-height: 220px;
  padding: 0 !important;
  position: relative;
  width: 100%;
}

#sul-footer .span2 {
  height: 80px;
}

#sul-footer .span2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#sul-footer .span2 ul li {
  display: inline;
  margin: 0 13px 3px 0;
  padding: 0;
}

#sul-footer .span2 ul li a {
  white-space: nowrap;
  color: #006cb8;
}

#sul-footer-img {
  display: table-cell;
  vertical-align: middle;
  width: 162px;
}

#sul-footer-links {
  display: table-cell;
  font-size: small;
  padding-left: 15px;
  text-align: left;
  vertical-align: middle;
}

#global-footer .container {
  box-sizing: border-box !important;
}
