<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %}</title>

  <!-- jquery and bootstrap dependencies query view -->
  <link rel="stylesheet" href="{{ static_prefix }}/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ static_prefix }}/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ static_prefix }}/css/base.css">
  <link rel="stylesheet" href="{{ static_prefix }}/css/playback.css">

  <script src="{{ static_prefix }}/js/jquery-latest.min.js"></script>
  <script src="{{ static_prefix }}/js/bootstrap.min.js"></script>
  <script src='{{ static_prefix }}/wb_frame.js'> </script>

  {% autoescape false %}

  {{ banner_html }}

</head>

<body style="margin: 0px; padding: 0px;">
  <div id="wb_iframe_div">
    <iframe id="replay_iframe" frameborder="0" seamless="seamless" scrolling="yes" class="wb_iframe"
      allow="autoplay; fullscreen"></iframe>
  </div>
  <script>
    var cframe = new ContentFrame({
      "url": "{{ url }}" + window.location.hash,
      "prefix": "{{ wb_prefix }}",
      "request_ts": "{{ wb_url.timestamp }}",
      "iframe": "#replay_iframe"
    });

  </script>
</body>

<script>
  window.onload = function () {
    // Add the SUL logo to the playback banner
    var playbackBannerElement = document.getElementById('_wb_frame_top_banner')
    var logoSpanElement = document.createElement("span")
    logoSpanElement.setAttribute("class", "navbar")
    var logoLinkElement = document.createElement("a")
    logoLinkElement.setAttribute("href", "/")
    logoLinkElement.setAttribute("aria-label", "Stanford Digital Repository")
    var logoImgElement = document.createElement("img")
    logoImgElement.setAttribute("src", "{{ static_prefix}}/images/StanfordLibraries-logo-whitetext.svg")
    logoImgElement.setAttribute("height", "32")
    logoImgElement.setAttribute("alt", "Stanford Digital Repository")
    logoLinkElement.appendChild(logoImgElement)
    logoSpanElement.appendChild(logoLinkElement)
    playbackBannerElement.insertBefore(logoSpanElement, playbackBannerElement.firstChild)

    // Get the ancillary links element to add capture links
    var titleElement = document.getElementById('_wb_ancillary_links')
    var prevSpan = document.createElement("span")
    prevSpan.setAttribute("class", "prev_capture")

    var prevLink = document.createElement("a")
    prevLink.setAttribute("id", "prev_capture_link")
    prevLink.innerHTML = "< Previous Capture"
    prevSpan.appendChild(prevLink)

    var nextSpan = document.createElement("span")
    nextSpan.setAttribute("class", "next_capture")
    var nextLink = document.createElement("a")
    nextLink.setAttribute("id", "next_capture_link")
    nextLink.innerHTML = "Next Capture >"
    nextSpan.appendChild(nextLink)

    titleElement.insertBefore(prevSpan, titleElement.firstChild)
    titleElement.appendChild(nextSpan)

    var request = new XMLHttpRequest()
    request.open('GET', '{{ wb_prefix }}cdx?url={{ url }}&output=json')
    request.onload = function () {
      var data = this.response.trim().split(/\r?\n/)
      var currentTimestamp = '{{ wb_url.timestamp }}'
      data.forEach(function (crawl, index, data) {
        crawl = JSON.parse(crawl)
        if (crawl.timestamp == currentTimestamp) {
          // Get Previous Capture Link
          if (index > 0) {
            previousCapture = JSON.parse(data[index - 1])
            prevLink.setAttribute("href", "{{ wb_prefix }}" + previousCapture.timestamp + "/{{ url }}")
          } else {
            prevLink.style.display = "none"
          }

          // Get Next Capture Link
          if (index < data.length - 1) {
            nextCapture = JSON.parse(data[index + 1])
            nextLink.setAttribute("href", "{{ wb_prefix }}" + nextCapture.timestamp + "/{{ url }}")
          } else {
            nextLink.style.display = "none"
          }
        }
      })
    }
    request.send()
  };
</script>

</html>
{% endautoescape %}