<link rel="stylesheet" href="https://www-media.stanford.edu/su-identity/css/su-identity.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-datatables@2.1.13/dist/style.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
<link rel="stylesheet" href="{{ static_prefix }}/css/stanford-header.css" />
<link rel="stylesheet" href="{{ static_prefix }}/css/stanford-footer.css" />
<link rel="shortcut icon" href="{{ static_prefix }}/favicon.ico" />

<script async src="https://www.googletagmanager.com/gtag/js?id=G-S1G1JW9N91"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-S1G1JW9N91');
</script>
