{% extends "base.html" %}
{% block title %}{{ _('Stanford Web Archive Portal') }}{% endblock %}
{% block body %}
<div class="row align-items-center bg-image" id="home_header">
    <h2 class="display-2">{{ _('Stanford Web Archive Portal') }}</h2>
</div>
<div class="container">
    <div class="row">
        <ul>
            {% for route in routes %}
            <li>
                <a href="{{ env['pywb.app_prefix'] + ('/' + env.pywb_lang if env.pywb_lang else '') + '/' + route }}">{{
                    '/' + route }}</a>
                {% if all_metadata and all_metadata[route] %}
                ({{ all_metadata[route].title }})
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}