{% extends "base.html" %}

{% block head %}
{{ super() }}
<script>
    // TODO: cleanup
    window.wb_prefix = "{{ wb_prefix }}";
</script>
<script src="{{ static_prefix }}/search.js"></script>
{% endblock %}

{% block title %}{{ _('Stanford Web Archive Portal') }}{% endblock %}

{% block body %}
<div class="row align-items-center bg-image" id="home_header">
  <h2 class="display-2">{{ _('Stanford Web Archive Portal') }}</h2>
</div>
<div class="container mt-4">
  <form class="needs-validation" id="search-form" novalidate>
    <div class="form-row">
      <div class="col-12">
        <label for="search-url" class="lead" aria-label="Search For Col">
          {% set coll_title = metadata.title if metadata and metadata.title else coll %}
          {% trans %}Locate archived sites by entering URL:{% endtrans %}
        </label>
      </div>
      <div class="align-self-center col-1">https://</div>
      <div class="col-11">
        <input aria-label="url" aria-required="true" class="form-control form-control-lg" id="search-url"
               name="search" placeholder="{{ _('Enter a URL to search for') }}"
               title="{{ _('Enter a URL to search for') }}" type="search" required />
      </div>
      <div class="col-12 invalid-feedback">
        {% trans %}'Please enter a URL{% endtrans %}
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="col-5">
        <div class="custom-control custom-checkbox custom-control">
          <input type="checkbox" class="custom-control-input" id="open-results-new-window">
          <label class="custom-control-label" for="open-results-new-window">{{ _('Open results in new window') }}</label>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div class="form-row mt-5 pt-3">
        <div class="col-12">
          <p style="cursor: help;">
            <span data-toggle="tooltip" data-placement="right" class="search-date-range"
                  title="Restricts the results to the given date/time range (inclusive)">
              {{ _('Date Range (YYYYMMDD)') }}
            </span>
            <span class="note">- optional</span>
          </p>
        </div>
        <div class="col-6">
          <label class="sr-only" for="dt-from" aria-label="Date/Time Range From">{% trans %}From:{% endtrans %}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">{% trans %}From:{% endtrans %}</div>
            </div>
            <input id="dt-from" type="number" name="date-range-from" class="form-control"
                   pattern="^\d{4,14}$">
            <div class="invalid-feedback" id="dt-from-bad">
              {% trans %}Please enter a valid <b>From</b> timestamp. Timestamps may be 4 <= ts <=14 digits{% endtrans %}
            </div>
          </div>
        </div>
        <div class="col-6">
          <label class="sr-only" for="dt-to" aria-label="Date/Time Range To">{% trans %}To:{% endtrans %}</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">{% trans %}To:{% endtrans %}</div>
            </div>
            <input id="dt-to" type="number" name="date-range-to" class="form-control" pattern="^\d{4,14}$">
            <div class="invalid-feedback" id="dt-to-bad">
              {% trans %}Please enter a valid <b>To</b> timestamp. Timestamps may be 4 <= ts <=14 digits{% endtrans %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row mt-5 pt-3">
      <button type="submit" class="btn btn-outline-primary float-left" role="button" aria-label="Submit">
        {% trans %}Submit{% endtrans %}
      </button>
    </div>

    <!--
      At Peter Chan's request we've removed advanced search options to filter
      by match type and mimetype. However static/search.js, which submits the
      form, wants to bind events to some of those form elements. These hidden
      elements will allow that code to continue to work eventhough we've removed
      the form elements themselves.
    -->

    <input id="add-filter" type="hidden" value=""> 
    <input id="clear-filters" type="hidden" value="">
    <input id="filter-list" type="hidden" value="">
    <input id="match-type-select" type="hidden" value="">

  </form>
  <div class="row mt-5 featured-sites-header-container">
    <p class="featured-sites-header">
      {{ _('Featured archived sites') }}
    </p>
  </div>
  <div class="row mt-4 featured-sites">
    <div class="col-3 text-center featured-sites-figure">
      <a href="https://swap.stanford.edu/was/19911206000000/http://slacvm.slac.stanford.edu/FIND/default.html">
        <figure>
          <img alt="SLAC first web page" src="{{ static_prefix }}/images/slac_259width.jpg" class="border featured-sites-thumbnail">
          <figcaption class="mt-3">
            SLAC first web page
          </figcaption>
        </figure>
      </a>
      <a href="https://searchworks.stanford.edu/view/wk956yb8565">
        SLAC Earliest Websites Collection
      </a>
    </div>
    <div class="col-3 text-center featured-sites-figure">
      <a href="https://swap.stanford.edu/was/20170323182036/http://www.shpride.com/">
        <figure>
          <img alt="ShanghaiPRIDE" src="{{ static_prefix }}/images/shanghai_pride_259width.jpg" class="border featured-sites-thumbnail">
          <figcaption class="mt-3">
            ShanghaiPRIDE
          </figcaption>
        </figure>
      </a>
      <a href="https://searchworks.stanford.edu/view/jt898xc8096">
        Chinese NGO Web Archive Collection
      </a>
    </div>
    <div class="col-3 text-center featured-sites-figure">
      <a href="https://swap.stanford.edu/was/20170311062618/https://www.atf.gov/resource-center/freedom-information-act-foia">
        <figure>
          <img alt="Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF) Freedom of Information Act (FOIA)" src="{{ static_prefix }}/images/atf_foia_259width.jpg" class="border featured-sites-thumbnail">
          <figcaption class="mt-3">
            Bureau of Alcohol, Tobacco, Firearms and Explosives (ATF) Freedom of Information Act (FOIA)
          </figcaption>
        </figure>
      </a>
      <a href="https://searchworks.stanford.edu/view/bs665fm2060">
        Freedom of Information Act Collection
      </a>
    </div>
    <div class="col-3 text-center featured-sites-figure">
      <a href="https://swap.stanford.edu/was/20180518001602/https://ourvision.stanford.edu/">
        <figure>
          <img alt="A Vision for Stanford" src="{{ static_prefix }}/images/vision_for_stanford_259width.jpg" class="border featured-sites-thumbnail">
          <figcaption class="mt-3">
            A Vision for Stanford
          </figcaption>
        </figure>
      </a>
      <a href="https://searchworks.stanford.edu/view/9516031">
        Stanford University website collection
      </a>
    </div>
  </div>
  {% if metadata %}
  <div class="row">
    <p class="lead">{{ _('Collection Metadata') }}</p>
  </div>
  <div class="row">
    <div class="col-4 pr-1">
      <div class="list-group" id="collection-metadata" role="tablist">
        {% for key in metadata.keys() %}
        <a class="list-group-item list-group-item-action text-uppercase {% if loop.index0 == 0 %}active{% endif %}" data-toggle="list" href="#collection-metadata-{{ key }}" role="tab">
          {{ key }}
        </a>
        {% endfor %}
      </div>
    </div>
    <div class="col-8 pl-1">
      <div class="tab-content h-100">
        {% for key, val in metadata.items() %}
        <div class="tab-pane inherit-height {% if loop.index0 == 0 %}active{% endif %}" id="collection-metadata-{{ key }}" role="tabpanel">
          <div class="card inherit-height">
            <div class="card-body">
              {{ val }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
